<section id="book-event" class="event-contact py-5">
  <div class="container" style="max-width: 740px">
    <form class="row event-contact__form" action="">
      <div class="col-md-12 text-center mb-4">
        <h2>Your Contact Information</h2>
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label" for="firstName">First Name (required)</label>
        <input class="form-control" type="text" id="firstName" />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label" for="lastName">Last Name (required)</label>
        <input class="form-control" type="text" id="lastName" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Your Email (required)</label>
        <input class="form-control" type="email" id="email" />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label" for="phone">Your Phone Number (required)</label>
        <input class="form-control" type="tel" id="phone" />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label" for="ext">Ext.</label>
        <input class="form-control" type="number" id="ext" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="contact-With">How would you prefer to be contacted?</label>
        <select class="form-select" id="contact-With">
          <option select="selected">Phone</option>
          <option select="">Email</option>
        </select>
      </div>
      <div class="mb-3 col-md-12">
        <label class="form-label" for="company">Company</label>
        <input class="form-control" type="text" id="company" />
      </div>
      <div class="col-md-12 text-center mt-5 mb-4">
        <h2>Your Event Details</h2>
      </div>
      <div class="mb-3 col-md-12">
        <label class="form-label" for="natureEvent">Nature of this Event</label>
        <input class="form-control" type="text" id="natureEvent" />
        <div class="form-text">(e.g. Birthday Party or Business Dinner)</div>
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label" for="date">Event Date (required)</label>
        <input class="form-control" type="date" id="date" />
      </div>
      <div class="mb-3 col-md-3">
        <label class="form-label" for="startTime">Start Time (req’d)</label>
        <input class="form-control" type="time" id="startTime" />
      </div>
      <div class="mb-3 col-md-3">
        <label class="form-label" for="endTime">End Time (req’d)</label>
        <input class="form-control" type="time" id="endTime" />
      </div>
      <div class="mb-3 col-md-12">
        <label class="form-label" for="people">Number of People</label>
        <input class="form-control" type="number" id="people" />
      </div>
      <div class="mb-3 col-md-12">
        <label class="form-label" for="information">Is there any additional information you would like to add?</label>
        <input class="form-control" type="text" id="information" />
        <div class="form-text">(e.g. Guest(s) of honor) Age &amp; Name)</div>
      </div>
      <div class="mb-3 col-md-12">
        <label class="form-label" for="heardUs">How did you hear about us? (required)</label>
        <input class="form-control" type="text" id="heardUs" />
      </div>
      <div class="mb-3 mt-3 align-items-center d-flex">
        <input class="form-check-input me-2 mt-0" type="checkbox" id="subscribe" />
        <label class="form-check-label" for="subscribe">Subscribe to our newsletter and promotional emails?</label>
      </div>
      <div class="col-12 text-center mt-4">
        <button class="cta border-0 after-star" href="#">
          Submit <span class="star"><img src="/images/yellow-star.svg" alt="" loading="lazy" width="42" height="42" /></span>
        </button>
      </div>
    </form>
  </div>
</section>