<form class="row contact-form" action="">
  <div class="mb-3">
    <label class="form-label" for="name">Your Name (required)</label>
    <input class="form-control" type="text" id="name" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="email">Your Email (required)</label>
    <input class="form-control" type="email" id="email" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="phone">Your Phone Number (required)</label>
    <input class="form-control" type="tel" id="phone" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="subject">Subject</label>
    <input class="form-control" type="text" id="subject" />
  </div>
  <div class="mb-3">
    <label class="form-label" for="subject">Message</label>
    <textarea class="form-control" id="subject" rows="3"></textarea>
  </div>
  <div class="col-12 text-center mt-4 pt-3">
    <button class="cta border-0 after-star" href="#">
      Submit <span class="star"><img src="/images/yellow-star.svg" alt="" loading="lazy" width="42" height="42" /></span>
    </button>
  </div>
</form>