h2,
.h2 {
	font: 600 24px $jos;

	@media (min-width: 768px) {
		font-size: 28px;
	}

	&.header-orange {
		strong {
			color: $orange;
		}
	}

	&.header-yellow {
		strong {
			color: $yellow;
		}
	}
}

p,
.p,
li {
	font: 500 16px $pub;
	letter-spacing: normal;

	@media (min-width: 768px) {
		font-size: 18px;
	}
}

p {
	&:last-child {
		margin-bottom: 0;
	}
}

.text-orange {
	color: $orange !important;
}

.text-yellow {
	color: $yellow !important;
}
