	<footer class="footer" id="footer">
		<div class="footer-site">
			<div class="container-fluid gx-md-0">
				<div class="row gx-md-0">
					<div class="col-md-4 col-lg-3 p-4 p-xl-5 bg-yellow text-center">
						<div class="logo">
							<a href="/"><img class="img-fluid" src="/images/footer-logo.png" alt="Rec Room" /></a>
						</div>
					</div>
					<div class="col-md p-4 p-xl-5">
						<div class="row gx-md-0">
							<div class="col-lg-5 col-xl-4 pe-md-4 pt-5 pt-md-0">
								<div class="copy mb-lg-0 mb-5">
									<h2>REC ROOM</h2>
									<ul class="list-unstyled column-2">
										{exp:structure:nav_basic show_depth="1"}
										{if root:page_url == '/menu/'}
										<li><a href="{menu-url}" target="_blank" class="text-uppercase">{root:title}</a></li>
										{if:else}
										<li><a href="{root:page_url}" class="text-uppercase">{root:title}</a></li>
										{/if}
										{/exp:structure:nav_basic}
										<li><a href="/privacy-policy/" class="text-uppercase">Privacy Policy</a></li>
										<li><a href="/accessibility-statement/" class="text-uppercase">Accessibility</a></li>
									</ul>
								</div>
								<h3>
									<a href="https://fuel53.com/" target="_blank" class="color-inherit">
										FUEL ESPRESSO & BAGEL CO.
									</a><br />
									<a href="https://starlandsports.com/" target="_blank" class="color-inherit">
										STARLAND
									</a>
								</h3>
							</div>
							<div class="col-md ps-lg-4 pb-5 pb-md-0 mt-4 mt-lg-0 d-flex justify-content-between bod-left">
								<div class="copy">
									<h2><a href="tel:{phone-number}" class="color-inherit">{phone-number}</a></h2>
									<p class="text-orange">Address:</p>
									<p>
										<a href="{address-gmaps-link}" target="_blank" class="color-inherit">
											{address}
										</a>
									</p>
									<p class="text-orange">Hours:</p>
									<p>{hours}</p>
									<p class="fst-italic">{hours-notes}</p>
								</div>
								<div class="logo-star"><img src="/images/footer-star-logo.svg" alt="" /></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-social text-center py-4 py-md-5">
			<div class="social">
				<ul class="nav justify-content-center">
					<li class="mx-3 mb-4">
						<a href="{social-facebook-link}" target="_blank"><i class="bi bi-facebook"></i></a>
					</li>
					<li class="mx-3 mb-4">
						<a href="{social-instagram-link}" target="_blank"><i class="bi bi-instagram"></i></a>
					</li>
					<li class="mx-3 mb-4">
						<a href="mailto:{contact-email}"><i class="bi bi-envelope"></i></a>
					</li>
				</ul>
			</div>
			<div class="copyright">
				<p>&copy;{current_time format="%Y"} Starland. All Rights Reserved</p>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="/js/app.js"></script>
  </body>
</html>
